---
import BaseLayout from 'layout:BaseLayout';
import NewLinkForm from '@components/NewLinkForm.svelte';
import LinkList from '@components/LinkList.svelte';
import LogOutButton from '@components/LogOutButton.svelte';
import Toaster from '@components/Toaster.jsx';
---

<BaseLayout>
  <div>
    <div class="text-center text-2xl font-bold mt-2">Dashboard</div>
    <NewLinkForm client:load />
    <LinkList client:load />
    <LogOutButton />
    <Toaster client:load />
  </div>
</BaseLayout>
