---
import AuthCheck from "@components/AuthCheck.svelte";

import BaseLayout from "layout:BaseLayout";
---

<BaseLayout>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <div class="mt-2 text-center text-2xl font-bold">
      Admin dashboard for the link shortener
    </div>
    <AuthCheck client:load />
  </div>
</BaseLayout>
