---
import BaseLayout from "layout:BaseLayout";
---

<BaseLayout>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <form
      action="/api/admin/login"
      method="post"
      class="flex w-full flex-col items-center justify-center"
    >
      <input
        type="password"
        placeholder="Admin password"
        name="password"
        class="m-auto w-64 rounded-md bg-dracula-dark p-3"
      />
      <input
        type="submit"
        value="Submit"
        class="mt-5 w-fit cursor-pointer rounded-md bg-dracula-green-800 p-2 hover:bg-dracula-green-900"
      />
    </form>
  </div>
</BaseLayout>
